div.search-modal {
    position: fixed;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 1s ease-in-out;
}

body:target div.search-modal{
    top: 0;
}

.search-modal-btn:hover {
    background-color: #f4f2f8;
    border-radius: 50px;
}

.search-input>input{
    transition: 0.3s ease-out;
}

.search-input>input:focus{
    outline: none;
    border-color: #d2633b;
}

.search-tags {
    transition: 0.2s ease-in-out;
}

.search-tags:hover {
    background-color: #dfdce5;
}

.search-event-cards {
    box-shadow: 2px 2px 4px 0.4px rgb(77, 77, 77, 0.4);
    transition: 0.3s ease-in-out;
}

.search-event-cards:hover{
    box-shadow: 0px 0px 8px 4px rgba(120, 120, 120, 0.4);
    transform: translateX(5px);
}