.promotor-card{ 
    box-shadow: 0px 0px 8px 2px rgba(0,0,0, 0.1);
    transition: 0.3s ease-out;
}

.promotor-card:hover{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0, 0.2);
    transform: translateY(-6px);
}

.promotor-card button {
    transition: 0.3s ease;
}

.promotor-card button:hover{
    background-color: #385be8;
}