.input-field,
.label {
  display: block;
  width: 100%;
  padding: 2.5px;
  font-size: 0.875rem;
  color: #374151;
  border: 0;
  border-bottom: 2px solid #d1d5db;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #2563eb;
}

.label,
.input-field:focus + .my-label,
.input-field:not(:placeholder-shown) + .my-label {
  transform: translateY(-1.5rem) scale(0.75);
  color: #2563eb;
}
