.navbar-btn>* {
    transition: 0.3s ease-in-out;
}

.navbar-btn>:hover,
.dropdown-content>:hover {
    background-color: #f4f2f8;
}

.navbar-btn>* {
    border-radius: 50px;
}

.dropdown-content {
    box-shadow: 0px 1px 1px 1px rgba(96, 96, 96, 0.4);
}
.dropdown-content>* {
    padding: 15px;
}