.banner-section {
    /* background-image: url("https://assets-global.website-files.com/633477637a686d796f22d5a0/6347dab01e23fef85fb0d3f8_63457b651fc7f5b5a272591f_See%2Bhow%2Bto%2Bstop%2Bslow%2Bnights%2Bwith%2Bthese%2Brestaurant%2Band%2Bbar%2Bevent%2Bideas.jpg");
    background-image: url("../../assets/25a38e26b1ef7e31365d99862199fffe-Eventbrite_Halloween_HomepageB_1919x543.webp"); */
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.tabs-area button {
    color: gray;
}

.tabs-area button:hover {
    color: black;
    border-bottom: 2px solid black;
    border-radius: 1px;
}

.tabs-area button.active {
    color: #3D64FF;
    border-bottom: 2px solid #3D64FF;
    border-radius: 1px;
}

.content-event-list .search-input .search-input-btn>:hover {
    background-color: rgb(242, 242, 242);
}

.content-event-list>button,
.content-event-list .search-input .search-input-btn>:hover {
    transition: 0.2s ease-in-out;
}

.content-event-list>button:hover {
    border-color: rgb(100 116 139);
    background-color: rgb(242, 242, 242);
}

.search-input>.city-result {
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(45, 45, 45, 0.4);
}